app = "backend-users-api"

primary_region = "iad"

[build]
  dockerfile = "Dockerfile"
  [build.args]
    SERVICE_PATH = "./services/users-api"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

